/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:rgb(255, 251, 245);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/***************/
/* ALLE FOTO'S */
/***************/

header {
    display:flex;
    gap: 10em;
    position: relative;
}

header img{
	width: 50%;
    position: absolute;
    top: 0.2em;
    left: 0.9em;
    padding: 0.1em;
    margin:0.1em;
}

main img {
	max-width: 100%; 
	height: auto;
    position: relative;
}

main img section:nth-of-type(1) { 
    position: absolute;
    top: 100em;
}

main section:nth-of-type(1) {
    background-color: crimson;
}

/************/
/* HET LOGO */
/************/
header h1 { 
    margin: 0;
    padding:0;
}
    
header h1 img {
    width: 30px;
}

/**************/
/* SECTION 2 */
/* FONT TITEL */
/**************/
body main section:nth-of-type(2) h2 {
	font-family: 'open-sans', 'sans-serif';
	font-size:1.5em;
    margin: 0;
    padding: 0;
}

/********/
/* MENU */
/********/
body {
    color:var(--color-text);
    background-color:var(--color-background);
    margin: 0;

    font-family:avenir, sans-serif ;
  }

  header {
      display: flex;
      justify-content:space-around;
      height: 30%;
      align-items:center;
  }
  
header > button {
    z-index: 100;
    background:none; 
    border:none;
    height: 3em;
}

header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 251, 245);

    transform:translateX(-100%);

    transition-duration:.3s;
    z-index: 999;
}

header nav.open {
    transform:translateX(0%);
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    border: none;

    height: 4em;
}

header nav ul li a {
    text-decoration: none;
}

@media (min-width:40em) {
	header{
		display:block;
	}

	header button {
		display: none;
	}

	nav {
		position:sticky;
		background-color: pink;
	}

	ul {
		display:flex;
		gap:1em;
	}

	li {
		flex-grow: 1;
	}
}

/***************/
/* MENU BUTTON */
/***************/

header button {
    border: none;
    border-radius: 12px;
    padding: 5px;
    right: 3em;
}


/*******************************/
/* Bestel nu & locatie buttons */
/*******************************/
main section:first-of-type {
    position: relative;
}

main section:first-of-type ul {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
    flex-direction: column;
	padding: 0;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
    position: absolute;
    bottom: 0;
    left: 3em;
}

main section:first-of-type ul li {
	flex-grow: 1;
	background-color: none;
	padding: .5em;
	text-align: center;
	display: inline-block;
	width: fit-content;
    border-radius: 20px;
    border: 1px solid white;
}

main section:first-of-type ul li a{
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}



/* dit is voor de 4 boxen onderin -> box-shadow: 0 0.2rem 0.8rem 0.1rem hsla(0,0%,42.4%,.11), 0 0.1rem 0.1rem 
/* position: relative;;