/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--p-color: #6c6c6c;
    --button-color: #008248;
}

/***************/
/* LETTERTYPES */
/***************/
@font-face {
    font-family: 'SoDoSansRegular';
    src: local('SoDoSans'), url('../fonts/SoDoSans-Regular3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SoDoSansSemiBold';
    src: local('SoDoSans'), url('../fonts/SoDoSans-SemiBold3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SoDoSansBold';
    src: local('SoDoSans'), url('../fonts/SoDoSans-Bold3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



















/***************/
/* ALLE FOTO'S */
/***************/

header {
    display:flex;
    gap: 10em;
    position: relative;
    top: 0.2em;
    left: 0.9em;
    padding: 0.1em;
    margin:0.1em;
}

header h1 img{
	width: 200%;
}

main img {
	max-width: 100%; 
	height: auto;
    position: relative;
}

main img section:nth-of-type(1) { 
    position: absolute;
    top: 100em;
}

/************/
/* HET LOGO */
/************/
header h1 { 
    margin: 0;
    padding:0;
}
    
header h1 img {
    width: 30px;
}

/***************/
/* MENU BUTTON */
/***************/

header button {
    border: none;
    border-radius: 12px;
    padding: 5px;
    right: 3em;
}

/********/
/* MENU */
/********/
body main {
    color:var(--color-text);
    background-color:var(--color-background);
    margin: 0;
}

header {
      display: flex;
      justify-content:space-around;
      height: 30%;
      align-items:center;
}
  
header > button {
    z-index: 100;
    background:none; 
    border:none;
    height: 3em;
}

header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 251, 245);

    transform:translateX(-100%);

    transition-duration:.3s;
    z-index: 999;
}

header nav.open {
    transform:translateX(0%);
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    border: none;
    height: 4em;
}

header nav ul li a {
    text-decoration: none;
    color: #111;
    font-family: 'SoDoSansRegular';
}

nav a:hover {
	color:#008248;
	transition: 0.3s;
}

@media (min-width:40em) {
	header{
		display:block;
	}

	header button {
		display: none;
	}

	nav {
		position:sticky;
		background-color: pink;
	}

	ul {
		display:flex;
		gap:1em;
	}

	li {
		flex-grow: 1;
	}
}

/*************************************/
/* MENU, BESTEL NU & LOCATIE BUTTONS */
/*************************************/
main section:first-of-type {
    position: relative;
}

main section:first-of-type h2 {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
    flex-direction: column;
	padding: 0;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
    position: absolute;
    bottom: 0;
    left: 2em;
	color:var(--color-background);
	bottom:5em;
	font-family: 'SoDoSansRegular';
}

main section:first-of-type ul {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
    flex-direction: column;
	padding: 0;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
    position: absolute;
    bottom: 0;
    left: 3em;
}

main section:first-of-type ul li {
	flex-grow: 1; 
	padding: .5em;
	text-align: center;
	display: inline-block;
	width: fit-content;
    border-radius: 20px;
    border: 1px solid white;
}

main section:first-of-type ul li a{
	color: hsl(0, 0%, 100%);
	text-decoration: none;
    font-family: 'SoDoSansRegular';
}

/************************************/
/** SECTION 2: HANDGEMAAKTE KOFFIE **/
/************************************/
body main section:nth-of-type(2) h2 {
    padding-left: 1em;
    padding-right: 1em; 
    font-family: 'SoDoSansBold' ;
}

body main section:nth-of-type(2) p {
    font-family: 'SoDoSansRegular';
    color: var(--p-color); 
    padding-left: 1em;
    padding-right: 1em; 
	margin-left: 0.5em;
}

/************************************/
/** SECTION 3: ONTDEK ONZE DRANKEN **/
/************************************/
body main section:nth-of-type(3) article {
    border: 1px #5f5f5f;
    padding: 10px;
    box-shadow: 0 0.2rem 0.8rem 0.1rem #c1c1c1, 0 0.1rem 0.1rem; 
    margin-left: 1em;
    margin-right: 1em;
    background-color: #f4f4f4;
	margin: auto;
	margin-bottom: 1em;
}

body main section:nth-of-type(3) {
    padding-left: 1em;
    padding-right: 1em; 
}

body main section:nth-of-type(3) article h3 {
	font-size:1.5em;
    margin: 0;
    padding: 0;
    font-family:'SoDoSansRegular';
	margin-left: 0.3em;
}

body main section:nth-of-type(3) p>span {
    font-family:'SoDoSansSemiBold';
    color:var(--color-text);
}

body main section:nth-of-type(3) p {
    font-family:'SoDoSansRegular';
    color:var(--p-color);    
	margin-left: 0.5em;
}

body main section:nth-of-type(3) ul {
    border-radius: 50px;
    border: 1px solid var(--button-color);
    text-align: center;
    padding: .5em;
    font-family: 'SoDoSansSemiBold';
    list-style: none;
    width: 100px;
}

body main section:nth-of-type(3) ul li a {
    color: var(--button-color);
	text-decoration: none;
    text-align: center;
    font-family: 'SoDoSansSemiBold';
    list-style: none;
    padding: 0,5em;
}

body main section:nth-of-type(3) h3.ontdekonzedranken {
    visibility: hidden;
}


/***************************/
/** SECTION 4: ALLERGENEN **/
/***************************/

body main section:nth-of-type(4) article {
    border: 1px #5f5f5f;
    padding: 10px;
    box-shadow: 0 0.2rem 0.8rem 0.1rem #c1c1c1, 0 0.1rem 0.1rem; 
    margin-left: 1em;
    margin-right: 1em;
    background-color: #f4f4f4;
}

body main section:nth-of-type(4) h3 {
    font-family: 'SoDoSansSemiBold';
	margin-left: 1em;
}

body main section:nth-of-type(4) p {
    font-family:'SoDoSansRegular';
    color:var(--p-color);  
	margin-left: 1em;
}

body main section:nth-of-type(4) ul {
	margin-left: 0.1em;
	padding: 1px;
}

body main section:nth-of-type(4) ul li {
	text-decoration: none;
    padding: 1px;
    font-family: 'SoDoSansRegular';
	list-style: none;
	margin: 1em;
}

body main section:nth-of-type(4) ul li a {
	color:var(--button-color);
}

/************/
/** FOOTER **/
/************/
footer {
    background-color:#ffffff;
}

footer h2 {
    font-family: 'SoDoSansRegular';
	padding-left: 1.5em;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color:var(--p-color);
	text-decoration: none;
    font-family: 'SoDoSansRegular';
}

footer img {
    padding-left: 1em; 
    height:2em;
    position: relative;
    padding-left: 2em;
}

footer img>span {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-right:-600%;
}

footer p {
    font-family: 'SoDoSansRegular';
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
	padding-left: 2em;
}

footer section:nth-of-type(4) h2.socialmedia {
    visibility: hidden;
}

footer section:nth-of-type(5) h3.regels {
    visibility: hidden;
}













/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* alle foto's */
header img{
	width: 50%;
}
main img {
	max-width: 100%; 
	height: auto;
}

/* font titel */
li:nth-of-type(2) h2 {
	/* jouw code hier */
	font-family: 'open-sans', 'sans-serif';
	font-size:3em;
}

/* dit is voor de 4 boxen onderin -> box-shadow: 0 0.2rem 0.8rem 0.1rem hsla(0,0%,42.4%,.11), 0 0.1rem 0.1rem 